.wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  border: 1px solid var(--color-primary);
}

.button:nth-child(2) svg {
  transform: rotate(180deg);
}

.current {
  color: var(--color-primary);
}
